*{margin: 0; padding: 0;} 
p {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
body {
    background: #f0f0f0;
}
.red {
    color:red;
    font-weight: 600;
}
.green {
    color: #1bbb61;
}
/* CSS Header */
header {
    background-color: #1bbb61;
}
.left-header, .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #000;
}
.logo {
    width: 160px;
    height:60px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.search-form {
    width: 65%;
    position: relative;
}
.search-form input {
    height: 65%;
    outline: none;
}
.search-form i {
    position: absolute;
    color: #bdc3c7;
    font-size: 1.4rem;
    top:16px;
    right:6px;
}

.right-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav  {
    padding: 0 !important;
    border-right: 1px solid rgba(0,0,0,.1);
 }
.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.nav-item i {
    font-size: 1.2rem;
    color: #fff;
}
.nav-item .nav-link, .hotline p, .cart p {
    padding: 0;
    margin-top: 2px;
    color: #fff !important;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.hotline, .cart {
    height: 60px;
    border-right: 1px solid rgba(0,0,0,.1);
}
.hotline p, .cart p {
    padding: 3px 16px;
}


/* CSS Banner */
.carousel-control-prev, .carousel-control-next {
    background: black;
    height: 50px;
    width: 40px;
    top: 50%;
    transform: translateY(-25px);
}
.select-banner {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 60px;
    background: #fff;
}
.select-banner .active {
    border-bottom: 2px solid #1bbb61;
}
.select-banner div {
    cursor: pointer;
    padding: 6px 0;
    box-sizing: border-box;
    font-weight: 600;
}
.right-banner img {
    width: 100%;
}
.tech-info {
    background: #fff;
    padding: 10px;
}
.tech-item {
    box-sizing: border-box;
    display: flex;
    height: 60px;
    margin-bottom: 6px;
}
.tech-item .tech-item-title {
    padding: 0 14px;
    font-size: 13px;
    font-weight: 500;
}


/* CSS Product List */
.product-box {
    background: #fff;
}
.box-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 16px;
}
.product-item img{
    width: 100%;
}
.hot-item-title {
    display: block;
    padding: 6px 0;
}
.big-product {
    padding: 14px 0 24px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #27a846, #4ba149ba);
}
.big-product img {
    height: 180px;
}
.big-info {
    height: 180px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff
}
.big-info>i {
    color: #ffaf69;
    font-size: 40px;
}
.red-sale {
    background: #ff3d3d;
    width: 95px;
    padding: 4px 6px;
    margin: 10px 0;
    border-radius: 10px;
}
.big-info .special-icon {
    height: 55px;
    width: 70px;
    margin-left: 14px;
}
.product-img {
    height: 180px;
    transition: 0.7s;
    transform: scale(0.9);
}
.product-img:hover {
    transform: scale(1.1);
}
.product-name {
    font-weight: 600;
}
.product-price {
    font-weight: 600;
    color: red;
}
.product-box .float-right {
    height: 47px;
    line-height: 47px;
}
.old-price {
    font-size: 13px;
    text-decoration: line-through;
}

/* CSS Accessories */

.accessories-list {
    display: flex;
}
.accessories-item .product-item {
    width: 228px;
}
.accessories-item img {
    display: block;
    width: 190px;
    height: 190px;
    margin: 16px auto;
}


@media only screen and (max-width: 1200px) and (min-width: 992px) { 
.nav-item {
    padding: 10px 0;
}
.nav-item .nav-link, .hotline p, .cart p {
    font-size: 12px;
}
.hotline p, .cart p {
    margin-top: -3px;
}
.hotline i, .cart i {
    padding-top: 10px;
    font-size: 1rem;
}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
.tech-item img {
    display: none;
}
.tech-title span, .tech-title a {
    display: block;
    
    font-size: 14px;
}
.tech-title a {
    float: none !important;
    margin-left: 120px;
}
.big-product img {
    height: 160px;
    width: 100px;
}
.big-info {
    width: 65%;
}
.big-special i {
    font-size: 14px;
}
.logo {
    width: 100px;
}
.left-header {
    height: 67px;
}
.right-header {
    padding: 0;
}
.nav-item {
    padding: 0;
    text-align: center;
}
.hotline p, .cart p {
    padding: 0;
}
}

@media only screen and (max-width: 767px) and (min-width: 577px) {
.tech-item img {
    display: block;
}   
.select-banner {
    position: unset;
}
.tech-title span {
    display: inline-block;
}
.tech-title a {
    display: inline-block;
    margin-left: 180px;
}
.nav-item {
    padding: 4px;
    text-align: center;
}
.hotline p, .cart p {
    padding: 6px 6px 0px 6px;
}
}

@media only screen and (max-width: 576px) {
.right-header {
    display: block;
    padding: 0;
}
nav {
    border-bottom: 2px solid #d0d0d0 !important;
    padding-bottom: 10px !important;
}
nav button {
    width: 100%;
    text-align: end;
}
nav button span {
    color: #fff;
}
.hotline, .cart, nav {
    display: inline-block;
    border: none;
}
.hotline, .cart {
    padding: 10px 0;
    box-sizing: border-box;
    width: 45%;
}
.left-banner, .right-banner {
    padding: 0 20px !important;
    width: 100%;
}
.left-banner img {
    width: 100%;
}
.select-banner div {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
}

}